* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  
}

.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Special Elite', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  color: blue;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.active {
  color: dodgerblue;
  border: none;
  cursor: default;
  text-decoration: none;
}

span {
  font-weight: bold;
}